<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">pax.BlazorChartJs</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <button type="button" class="nav-section-toggle px-3" @onclick="ToggleLibrarySamples" @onclick:stopPropagation="true" aria-expanded="@(!collapseLibrarySamples)">
            <span aria-hidden="true">@LibrarySamplesCaret</span> Library samples
        </button>
        <div class="@LibrarySamplesCssClass">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="barchart">
                    <span class="oi oi-plus" aria-hidden="true"></span> BarChart
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="linechart">
                    <span class="oi oi-plus" aria-hidden="true"></span> LineChart
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="multiplecharts">
                    <span class="oi oi-plus" aria-hidden="true"></span> MultipleCharts
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="eventschart">
                    <span class="oi oi-plus" aria-hidden="true"></span> EventsChart
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="scatterchart">
                    <span class="oi oi-plus" aria-hidden="true"></span> ScatterChart
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="stackedchart">
                    <span class="oi oi-plus" aria-hidden="true"></span> StackedChart
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="multiaxis">
                    <span class="oi oi-plus" aria-hidden="true"></span> MultiAxisChart
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="timeschart">
                    <span class="oi oi-plus" aria-hidden="true"></span> TimesChart
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="minchart">
                    <span class="oi oi-plus" aria-hidden="true"></span> ReadmeChart
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="preloadpluginchart">
                    <span class="oi oi-plus" aria-hidden="true"></span> PreloadPluginChart
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="datalabelschart">
                    <span class="oi oi-plus" aria-hidden="true"></span> DataLabelsChart
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="callbackchart">
                    <span class="oi oi-plus" aria-hidden="true"></span> CallbackChart
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="scriptablepaddingchart">
                    <span class="oi oi-plus" aria-hidden="true"></span> ScriptablePaddingChart
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="tooltipcallbackchart">
                    <span class="oi oi-plus" aria-hidden="true"></span> TooltipCallbackChart
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="htmllegendchart">
                    <span class="oi oi-plus" aria-hidden="true"></span> HtmlLegendChart
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="htmllegendpiechart">
                    <span class="oi oi-plus" aria-hidden="true"></span> HtmlLegendPieChart
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="udpatechart">
                    <span class="oi oi-plus" aria-hidden="true"></span> UpdateDatasetChart
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="synergysmoothchart">
                    <span class="oi oi-plus" aria-hidden="true"></span> SynergySmoothChart
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="disposechart">
                    <span class="oi oi-plus" aria-hidden="true"></span> DisposeChart
                </NavLink>
            </div>
        </div>
        <button type="button" class="nav-section-toggle px-3" @onclick="ToggleChartJsSamples" @onclick:stopPropagation="true" aria-expanded="@(!collapseChartJsSamples)">
            <span aria-hidden="true">@ChartJsSamplesCaret</span> Chart.js samples
        </button>
        <div class="nav-sample-group @ChartJsSamplesCssClass">
            <div class="nav-subsection-heading px-3">Bar Charts</div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/bar/border-radius" title="Bar Chart Border Radius">
                    Border Radius
                </NavLink>
            </div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/bar/floating" title="Floating Bars">
                    Floating
                </NavLink>
            </div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/bar/horizontal" title="Horizontal Bar Chart">
                    Horizontal
                </NavLink>
            </div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/bar/stacked" title="Stacked Bar Chart">
                    Stacked
                </NavLink>
            </div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/bar/stacked-groups" title="Stacked Bar Chart with Groups">
                    Stacked Groups
                </NavLink>
            </div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/bar/vertical" title="Vertical Bar Chart">
                    Vertical
                </NavLink>
            </div>
            <div class="nav-subsection-heading px-3">Line Charts</div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/line/interpolation" title="Interpolation Modes">
                    Interpolation
                </NavLink>
            </div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/line/line" title="Line Chart">
                    Line
                </NavLink>
            </div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/line/multi-axis" title="Multi Axis Line Chart">
                    Multi Axis
                </NavLink>
            </div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/line/point-styling" title="Point Styling">
                    Point Styling
                </NavLink>
            </div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/line/segments" title="Line Segment Styling">
                    Segments
                </NavLink>
            </div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/line/stepped" title="Stepped Line Charts">
                    Stepped
                </NavLink>
            </div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/line/styling" title="Line Styling">
                    Styling
                </NavLink>
            </div>
            <div class="nav-subsection-heading px-3">Other Charts</div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/other/bubble" title="Bubble">
                    Bubble
                </NavLink>
            </div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/other/combo-bar-line" title="Combo bar/line">
                    Combo bar/line
                </NavLink>
            </div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/other/doughnut" title="Doughnut">
                    Doughnut
                </NavLink>
            </div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/other/multi-series-pie" title="Multi Series Pie">
                    Multi Series Pie
                </NavLink>
            </div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/other/pie" title="Pie">
                    Pie
                </NavLink>
            </div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/other/polar-area" title="Polar area">
                    Polar area
                </NavLink>
            </div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/other/polar-area-center-labels" title="Polar area centered point labels">
                    Polar centered labels
                </NavLink>
            </div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/other/radar" title="Radar">
                    Radar
                </NavLink>
            </div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/other/radar-skip-points" title="Radar skip points">
                    Radar skip points
                </NavLink>
            </div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/other/scatter" title="Scatter">
                    Scatter
                </NavLink>
            </div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/other/scatter-multi-axis" title="Scatter - Multi axis">
                    Scatter multi-axis
                </NavLink>
            </div>
            <div class="nav-item nav-item-nested px-3">
                <NavLink class="nav-link" href="chartjs-samples/other/stacked-bar-line" title="Stacked bar/line">
                    Stacked bar/line
                </NavLink>
            </div>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool collapseLibrarySamples;
    private bool collapseChartJsSamples;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private string? LibrarySamplesCssClass => collapseLibrarySamples ? "nav-group-collapsed" : null;
    private string? ChartJsSamplesCssClass => collapseChartJsSamples ? "nav-group-collapsed" : null;
    private string LibrarySamplesCaret => collapseLibrarySamples ? "+" : "-";
    private string ChartJsSamplesCaret => collapseChartJsSamples ? "+" : "-";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleLibrarySamples()
    {
        collapseLibrarySamples = !collapseLibrarySamples;
    }

    private void ToggleChartJsSamples()
    {
        collapseChartJsSamples = !collapseChartJsSamples;
    }
}
